<body>
  <h2><span style="margin-left:30px">Books</span></h2>
  <table>
   <thead>
     <tr>
      <th><span style="margin-left:30px">Title</span></th>
      <th><span style="margin-left:30px">Body</span></th>
     </tr>
   </thead>
    <tbody>
     <% @books.each do |book| %>
     <tr>
      <td><span style="margin-left:30px"><%= book.title %></span></td>
      <td><span style="margin-left:30px"><%= book.body %></span></td>
      <td><span style="margin-left:30px"><a href="/books">Show</a></span></td>
      <td><span style="margin-left:10px"><a href="/books">Edit</a></span></td>
      <td><span style="margin-left:10px"><a href="/books">Destroy</a></span></td>
     </tr>
     <% end %>
    </tbody>

  </table>

<h2><span style="margin-left:30px">New books</span></h2>
 <span style="margin-left:30px"><%= form_with model:@book, local:true do |f| %></span>

  <p><span style="margin-left:30px">Title</span></p>
   <span style="margin-left:30px"><%= f.text_field :title %></span>


  <p><span style="margin-left:30px">Body</span></p>
   <span style="margin-left:30px"><%= f.text_area :body %></span>

  <p><span style="margin-left:30px"><%= f.submit 'Create book' %></span></p>

 <% end %>